- $id: env
  type: object
  properties: {}
  required: []

- $id: build
  type: object
  properties:
      extVersion: { type: string, pattern1: ^\d+\.\d+\.\d+$ }
      ewcVersion: { type: string, pattern1: ^\d+\.\d+\.\d+$ }

  required: [extVersion, ewcVersion]

- $id: config
  type: object
  properties:
      amcharts5LicenseKey: { type: ["null", string] }

      theme:
          type: object
          properties:
              darkMode:
                  anyOf:
                      - const: auto
                      - type: boolean
              baseColor: { $ref: colors }
              accentColor: { $ref: colors }

          additionalProperties: false
          requied: [darkMode, baseColor, accentColor]

  required: [theme]

- $id: colors
  enum: [amber, blue, blue-grey, brown, cyan, deep-orange, deep-purple, green, grey, indigo, light-blue, light-green, lime, orange, pink, purple, red, teal, yellow]
