.notification-subject {
    white-space: normal;
    font-size: 1.2em;
    font-weight: bold;
}

.notification-body {
    white-space: normal;
    /* font-weight: bold; */
    /* font-size: 1.2em; */
}
